<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/static/css/create_groupe.css" />
    <title>Créer un groupe</title>
</head>
<body>
    <h1>Nouveau groupe</h1>
    <form method="post" action="/groups/create">
        <label>Nom :</label>
        <input type="text" name="name" required><br>

        <label>Description :</label>
        <textarea name="description"></textarea><br>

        <button type="submit">Créer</button>
        <div class="actions">
            <a class="btn ghost" href="/">Annuler</a>
          </div>
    </form>
</body>
</html>
